body {
	font-family: 'Lato', sans-serif;
	margin: 0;
	padding: 0;
}

a {
	color:#059634;
	text-decoration:none;
}
a:hover {
	text-decoration: underline;
}

header {
	padding: 20px;
	background: #4D97F3;
}

main {
}

.center {
	text-align:center;
	margin:0 auto;
}

header h1 {
	font-size:3em;
	padding:0;
	margin:0;
	color: #FFF;
}

header h2 {
	font-size:2em;
	padding:0;
	margin:0;
	color: #09346F;
}

aside {
	float: left;
	width:14%;
	background: #FFF;
}

aside ul {
	list-style-type: none;
	margin:0;
	padding:0;
}

aside ul li {
	margin: 2px;
	border: 1px solid #333;
}
aside ul li a {
	padding:5px;
	background: #F1C782;
	color: #4E3F26;
	font-weight: normal;
	display:block;
}
aside ul li div {
	font-size: smaller;
	margin-top:2px;
	color:#A05B28;
}
aside ul li a:hover {
	text-decoration:none;
	background:#B0D0B0;
}
aside ul li:hover {
	cursor: pointer;
}

aside div.ad-side {
	margin: 20px;
}

section {
	float: left;
	width: 72%;
	background: #c2d3ea;
}

article {
	background: #fff;
	margin: 10px;
	padding: 20px;
	border: 1px solid #BBB;
}

footer {
	clear: both;
	background: #4D97F3;
	padding: 4px;
	line-height:150%;
}

footer div {
	border: 1px solid #000;
	background: #fff;
	text-align: center;
	padding: 20px;
}

article h3 {
	font-size: 1.8em;
	margin: 0 0 5px 0;
	background: #7AAFF1;
	padding: 5px;
	text-shadow: 0 0 1px #000;
	color: #fff;
	border-radius: 5px;
    padding-left: 10px;
	border: 1px solid #5E8BC3;
}

article:first-child h3 {
	font-size: 2.6em;
	background: #BB9173;
	text-shadow: 0 0 5px #000;
	border-color: #794817;
}

article p { 
	line-height: 150%; 
	text-align: justify;
}
article div.center {
	text-align:center
}

article img {
	display: block;
	margin: 15px auto;
}

div.backToTop {
	float:right;
}

div.ad {
	margin: 20px auto;
	text-align: center;
}

aside#right {
	width:14%;
	margin-top: 20px;
}

div.donate div { 
	margin-top:80px; padding: 10px; line-height: 135%; font-size:14px; border-radius: 10px;
    box-shadow: 0 0 15px 2px #999;
    margin: 21px; 
}
	
div.donate img { max-width:100% }

div.center-align-ad {
    margin: 15px;
    text-align: center;
}

div.right-align-ad {
    margin: 15px 0 15px 15px;
    float: right;
	display: inline-block;
}

div.share { margin:20px auto }